<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Configura el módulo Node.js -->
      <add name="node" path="index.js" verb="*" modules="node" scriptProcessor="D:\home\site\wwwroot\node.exe" />
    </handlers>
    <rewrite>
      <!-- Opcional: reescribe todas las solicitudes a tu archivo index.js -->
      <rules>
        <rule name="Rewrite all requests to index.js" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="DetailedLocalOnly" />
  </system.webServer>
</configuration>